* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: rgb(27, 23, 23);
  font-family: sans-serif;
  letter-spacing: 0.50px;
}
